.card {
	background-color: #222124;
	box-sizing: border-box;
	border-radius: 15px;
	margin: 20px;
	padding-block-start: 15px;
	padding-block-end: 45px;

	padding-inline: 15px;
	min-width: 360px;
	max-width: 400px;
	/* min-height: 400px; */
	display: flex;
	justify-content: flex-start;
	align-items:center ;
	flex-direction: column;
	-webkit-box-shadow: 5px 5px 12px 0px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 5px 5px 12px 0px rgba(0, 0, 0, 0.75);
	box-shadow: 5px 5px 12px 0px rgba(0, 0, 0, 0.75);
}

.card h3{
	margin-block: 25px;
}