.App {
	text-align: center;
	background-color: #282c34;
	display: flex;
	flex-direction: column;
	align-items: center;
}

h1 {
	padding-block: 10px;
	margin-block-end: 1px;
}
h6 {
	padding-block: 1px;
	margin-block: 5px;
}

p {
	margin-block-start: 5px;
	padding-block: 5px;
}
.analog-clock {
	-webkit-box-shadow: 3px 3px 13px -3px rgba(255, 255, 255, 0.2);
	-moz-box-shadow: 3px 3px 13px -3px rgba(255, 255, 255, 0.2);
	box-shadow: 3px 3px 13px -3px rgba(255, 255, 255, 0.2);
}

.App-header {
	/* background-color: var(--background); */
	width: 100%;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
	padding-block: 30px;
}

.card-overview {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}
